<div id="embed">
    <center>Get weekly insights in ethics and tech.</center>
    <br>
    <form action="https://twitter.us19.list-manage.com/subscribe/post?u=30eae9068398a251f4e180849&amp;id=98ea64e095" method="post" id="form" name="form" target="_blank" novalidate>
        <div class="form-group">
          <input class="form-field" name="EMAIL" id="mce-EMAIL" type="email" placeholder="example@sample.com" required>
          <div class="form-actions">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Subscribe" id="mc-embedded-subscribe">
          </div>
        </div>
      </form>

</div>
